html, body{
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono" !important;
    color: #fff !important;       
    overflow-x: hidden;
    background-color: white;
    z-index: 1;
}
.navigation{
    position: relative;
    width: 100%;
    height: 80px;
    z-index: 1;
    z-index:3; 
    border-bottom: 1px solid black;
}
.brand{
    left: 20px;
    position: relative;
    color:black;
    float: left;
    line-height: 80px;
    font-weight: 800;  
    text-transform:capitalize; 
    letter-spacing: 2px;  
    font-style: italic; 
    font-size: 30px;  
}
.sign{
    position: relative;
    right: 20px;
    top:20px;
    width:125px;
    border: 3px solid #66a3ff;
    color:black;
    border-radius: 30px;
    float: right;
    height:40px;
    color:#66a3ff;
    background-color: white;
    transition: all 0.75s;
}       
.sign:hover{ 
    transition: all 0.75s;
    color:white;
    background-color: #66a3ff;
}
.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
    width:100%;
    position: absolute;
    top:150px; 
    left:0%;
}
.mainHeader{
    color:black;
    text-align: center;
    font-weight: 800;
    font-size:4vw;
}
.mainParagraph{
        color:black;
        width:45%; 
        display: block; 
        margin: auto; 
        text-align: center;
}
.GetStarted{
    position: relative;
    top:30px;
    height:65px;
    width:200px;
    border: 3px solid #66a3ff;
    color:black;
    border-radius: 30px;
    text-align: center;
    display: block;
    margin:0 auto;
    font-size: 20px;
    color:white;
    background-color: #66a3ff;
    transition: all 0.75s;
}
.GetStarted:hover{  
    color:#66a3ff;
    background-color: white;
    transition: all 0.75s;
}
.scroll-down{
    position: relative; 
    top: 45px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
    z-index: 0;
    text-decoration: none;
    text-shadow: 0;
    width: 13px;
    height: 13px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    -webkit-transform: translate(-50%, 0) rotate(0deg);
    animation: fadeDown 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}
@keyframes fadeDown {
    0% {
          transform: translate(0, -20px) rotate(45deg);
          opacity: 0;
    }
    50% {
          opacity: 1;
    }
    100% {
          transform: translate(0, 20px) rotate(45deg);
          opacity: 0;
    }
}
.websiteImage{
    width: 1000px;
    position:relative;
    top:350px; 
     border-radius:30px 30px 0px 0px;
     z-index:3;
     border:20px solid gray;
}
.laptopHR{
border-radius: 10px 10px 30px 30px;
border:20px solid black; 
width:1000px;
position: absolute;
margin-top:350px;
left:0%;
right:0%;
}
.blueBG{
    
    margin:0px auto;
    position: relative;  
    height:600px;
    color:black;
    background: #66a3ff;
    transition: all 0.75s;
}

.blueHead{
    margin:0px auto;
    position: relative;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    display: block; 
    width:50%; 
}
.blueHead1{
    position: relative;
    line-height: 30px; 
    text-align: center; 
    display: block; 
    margin: 0 auto; 
    width:50%;
}
@media only screen and (max-width:700px){

.blueHead{
    top:100px;
}
.blueHead1{
    top:100px;
    font-size: 15px;
}
}
@media only screen and (min-width:700px){

.blueHead{
    top:260px;
}
.blueHead1{
    top:260px;
    font-size: 15px;
}
}
.greenBG{
    margin:0px auto;
    position: relative;  
    height:600px;
    color:black;
    background: #99ff99;
    transition: all 0.75s;
}

.greenHead{
    margin:50px auto;
    position: relative;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    display: block; 
    width:50%; 
}
.greenHead1{
    position: relative;
    line-height: 25px;
    text-align: center;
    display: block;
    margin: 0 auto;
    width:50%;
}

@media only screen and (min-width:701px){

.greenHead{
    top:200px;
}
.greenHead1{
    top:200px;
    font-size: 18px;
}
}
@media only screen and (max-width:700px){

.greenHead{
    top:75px;
}
.greenHead1{
    top:75px;
    font-size: 15px;
}
}
#contact3{
    background: #99ff99;
    padding: 4rem 0 8rem;

}

/* contact us styles start */
#contact1{
    background: black;
    padding: 4rem 0 8rem;

}
#contact2{
    background: #66a3ff;
    padding: 4rem 0 8rem;

}
#contact{
    background: #ff9999;
    padding: 4rem 0 8rem;

}
#contact h2{
    text-align: center;
    margin-bottom: 4rem;
}
#form-container{
    width:58%;
    border-radius: 12px;
    background-color: white;
    box-sizing: border-box;
    padding:3rem;
    height: 0%;
}
#form-container h3{
    color:black;
    text-align: center;
    margin-bottom: 2rem;
}
::placeholder{
    text-indent: 10px;
    font-size: 15px;
 }
#form-container input, 
#form-container textarea{
    text-indent: 10px;
    display:block;
    margin-top: 1rem;
    padding:10px;
    color:black;
    border-radius: 20px;
    border:1px solid rgba(0,0,0,0.1);
    box-sizing: border-box;
    height:43px;
    width:100%;
    font-size: 1rem;
    color:#495057;
}
#form-container textarea{
    height:170px;
    margin-bottom:2rem;
    resize:none;
}
#address-container{
    width:38%;
    background-color: white;
    box-sizing: border-box;
    padding:1.5rem;
    height:0%;
    border-radius: 12px;
}
#address-container label{
    margin-top: 2rem;
    display: block;
}
#address-container label:first-child{
    margin-top: 0;
}
#address-container address{
    margin-bottom: 1.5rem;
    font-style: normal;
}
#address-container a{
text-decoration: none;
color:  #1ab2ff;
}
#address-container a:hover{
    text-decoration: underline;
}
.submit{
    display:block; 
    margin:0 auto;
    position: relative;
    top:20px;
    width:125px;
    border: 3px solid #66a3ff;
    color:black;
    border-radius: 30px;
    height:40px;
    color:#66a3ff;
    background-color: white;
    transition: all 0.75s;
}
.submit:hover{
    border: 3px solid #66a3ff;
    color:white;
    transition: all 0.75s;
    background-color: #66a3ff;
}
/* contact us styles end */
.flex{
    display:flex;
    justify-content:space-between;
}
.blackBG{
position: relative;  
background:black; 
height:800px; 
}
.blackHead{
    margin:50px auto;
    position: relative;
    top:260px;
    font-size: 40px; 
    font-weight: bold; 
    text-align: center;
    display: block; 
    width:60%;
}
.blackHead1{
    position: relative; 
    top:260px; 
    line-height: 30px; 
    font-size: 18px;
    text-align: center; 
    display: block;
    margin: 0 auto; 
    width:50%;
}

@media(max-width: 768px){

#media{
    text-align: center;
}
}
.hide{
    display:none;
}
.block{
    display:block;
}
.black{
    background-color: black;
}

/* start: footer styles */
footer {
    background: #333;
    padding: 8rem 0;
}



footer .footer-subscribe ul li a:hover {
    color: #fff;
}

footer small {
    margin-top: 3rem;
    font-size: 1rem;
    display: block;
    text-align: center;
}

footer small a {
    color: #777;
    text-decoration: none;
}

footer small a:hover {
    color: #fff;
}

/* end: footer styles */
#media ul {

    list-style: none;
    text-align: center;

    display:flex;
    align-items: center;
    justify-content: center;
}
#media ul li {
    padding:20px;
    text-align: center;

}
#media ul li a{
    text-align: center;

    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color:white;
    transition: all 0.05s;
}
#media ul li a:hover{
    color:gray;
    transition: all 0.05s;
    text-decoration: none;
}